body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #FAF9F8;
}

.header-logo {
    text-decoration: none;
    color: #FAF9F8;
    font-size: 24px;
    font-weight: bold;

}

.header-top-container {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}